  /*
   * Custom translucent site header
   */
   body{
    font-family:500 16px/26px 'Montserrat',sans-serif;
    width:100%;
  }
 /* Header */
 .bg-menu{
   background-color:#151c48;
   
 }
 .bg-menu .navbar-toggler {
   color:red;
   border-color: white;
 }
 .bg-menu .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
 }
 .navbar-menu{
   color:red;
 }
 .site-header {
   background-color: rgba(0, 0, 0, .85);
   -webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
 }
 .site-header a {
   color: #8e8e8e;
   transition: color .15s ease-in-out;
 }
 .site-header a:hover {
   color: #fff;
   text-decoration: none;
 }
 /* Banner do site */
 .banner{
   background: linear-gradient(to right,rgba(66, 135, 245, 0.6),rgba(231, 65, 52, 0.8)), url("../img/_RGC0504.jpg")center top no-repeat;
   width: 100%;
   height: 500px;
 }
 .banner-educador{
  background: linear-gradient(to right,rgba(66, 135, 245, 0.6),rgba(231, 65, 52, 0.8)), url("../img/_RGC9758.jpg")center top no-repeat;
  width: 100%;
  height: 500px;

}
.banner-estudante{
  background: linear-gradient(to right,rgba(66, 135, 245, 0.6),rgba(231, 65, 52, 0.8)), url("../img/banner-site.jpg ")center top no-repeat;
  width: 100%;
  height: 500px;
}
.texto-banner{
  padding-top: 8rem;
}
@media (min-width: 768px) {
  .banner-educador {
    height: 650px;
    
  }
  .banner-estudante {
    height: 550px;
    
  }
  .banner {
    height: 550px;
    
  }
  .texto-banner{
    padding-top: 10rem;
  }
}
  /*
  * Extra utilities
  */
 
 .flex-equal > * {
   flex: 1;
 }
 @media (min-width: 768px) {
   .flex-md-equal > * {
     flex: 1;
   }
 }
 .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 @media (min-width: 768px) {
   .bd-placeholder-img-lg {
     font-size: 3.5rem;
   }
 }  
 /* Efeitos Menu */
 .nav-masthead .nav-link {
   padding: .25rem 0;
   font-weight: 700;
   color:white;
   background-color: transparent;
   border-bottom: .25rem solid transparent;
 }
 .nav-masthead .dropdown-item {
  font-weight: 700;
  color: #034576;
}
 
 .nav-masthead .nav-link:hover,
 .nav-masthead .nav-link:focus {
   border-bottom-color: #e74134;
 }
 
 .nav-masthead .active {
   color:  white;
   border-bottom-color:#e74134;
 }
 /* Corpo */
 .jumbotron-p {
   padding: 2rem 1rem;
   margin-bottom: 2rem;
   /* background-color:white; */
   border-radius: 0.3rem;
 }
 
 @media (min-width: 576px) {
   .jumbotron-p {
     padding: 4rem 2rem;
   }
 }
 .jumbotron-l {
   padding: 2rem 1rem;
   margin-bottom: 2rem;
   /* background-color:#e6f0ff; */
   border-radius: 0.3rem;
 }
 
 @media (min-width: 576px) {
   .jumbotron-l {
     padding: 4rem 2rem;
   }
 }
 
 
 @media (min-width: 768px) {
 .div-video{
   height: 500px;
   padding-top:40px;
 }
 }
 .video{
   border-radius: 30px;
   box-shadow: 5px 5px;
   width: 100%;
   height: 250px;

 }

 .col-md-6 li{
   display: inline-block;
 }

 .col-md-6 li + li:before {
   content: " | ";

   }

   @media (min-width: 768px) {
     .video {
       width: 65%;
       height: 80%;

     }
   }
   .uk-h1 {
     font-size: 2.250rem;
     line-height: 3.125rem;
     letter-spacing: -.05em;
     text-shadow: 0 3px 6px rgba(0,0,0,.16);
     color:#05355a;
 }
 .uk-h1-titulo {
  font-size: 2.815rem;
  line-height: 3.125rem;
  letter-spacing: -.05em;
  text-shadow: 0 3px 6px rgba(0,0,0,.16);
  color:#ffffff;
}
 .uk-h1-footer {
  font-size: 1.25rem;
  letter-spacing: -.05em;
  text-shadow: 0 3px 6px rgba(0,0,0,.16);
  color:#05355a;
}
 .uk-text-bold {
   font-weight: 700;
}
.jumbotron-l p{
 color:#464f70;
 font-weight: 700;
 text-align: justify;

}
.lista{
  list-style: none;
}
.jumbotron-p p, .lista li{
  color:#464f70;
  font-weight: 700;
  text-align: justify;
 
 }
 .banner p,.banner-educador p,.banner-estudante p{
  color:#ffffff;
  font-weight: 700;
  text-align: justify;
 
 }
/* Icones */
.text-icon{
  color:#05355a;

}
.text-icon:hover{
  color:#e74134;
}
/* Margin Footer */
@media (min-width: 768px) {
  .ml-footer {
    margin-left: 50px;
  }
}
.link-footer{
  color:#2e71a5;
}
.link-footer:hover{
  text-decoration: none;
  color: #e74134;
}
.teste{
 background:url("../img/img-background-nossos-diferenciais.png") top left no-repeat;
}
@media (min-width: 768px){
  .format-text-pr{
    padding-right: 3rem !important;

  }
}
@media (min-width: 768px){
  .format-text-pl{
    padding-left: 3rem !important;

  }
}


.img-device{
  width: 200px;
  max-width: 400px;
  height: 400px;
}
.img-device-horizontal{
  width: 100%;
  height: 100%;
}
@media (min-width: 768px){ 
  .img-device-horizontal{
    width: 400px;
    height:200px;
  }
}



@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.pic-ctn {
  position: sticky;
  width: 200px;
  max-width: 400px;
  height: 400px;
  display: none;
}
@media (min-width:768px){
  .pic-ctn {
    position: sticky;
    width: 200px;
    max-width: 400px;
    height: 400px;
    display: block;
  }
  .pic-ctn > img {
    position: absolute;
    width: 200px;
    height:400px;
    top: 0;
    left: 300px;
    opacity: 0;
    animation: display 20s infinite;
    animation-timing-function: ease-in-out ;
  }
  
  img:nth-child(2) {
    animation-delay: 4s;
  }
  img:nth-child(3) {
    animation-delay: 8s;
  }
  img:nth-child(4) {
    animation-delay: 12s;
  }
  img:nth-child(5) {
    animation-delay: 16s;
  }
}

/* .device-mobile{
  display: none;
} */